button {
    border-radius: 2px;
    padding: 5px 25px;
}

.button-primary {
    background-color: #0069D9;
    color: white;
    border: #0069D9;
}

.button-danger {
    background-color: red;
    color: white;
    border: red;
}

.button-success {
    background-color: green;
    color: white;
    border: green;
}

.button-warning {
    background-color: yellow;
    color: white;
    border: yellow;
}

.button-large {
    padding: 10px 50px;
}